* {
  padding: 0;
  margin: 0;
}
/* @font-face
{
  font-family: HongLeiBanShu;
  src: url('../fonts/HongLeiBanShuJianTi-2.ttf');
} */
body {
  font-size: 14px;
  background: url(../image/bj.jpg);
}

header {
  position: relative;
  /* height: 400px; */
  background: url(../image/logo2.png) no-repeat center 0;
}

div.nav-bar {
  position: relative;
  height: 100%;
  padding-top: 210px;
  display: block;
}


ul.nav {
  background: url(../image/nav.jpg) no-repeat center 0;
  background-size: 100% 100%;
  min-height: 50px;
  line-height: 32px;
  padding: 10px 0;
}


li.list-group-item {
  padding: 8px;
}

a, a.nav-link {
  color: #584036;
}

a:hover {
  color: #31231d;
  text-decoration: none;
}

a.nav-link:hover, a.nav-link.active {
  background: url(../image/nava.jpg) no-repeat center center;
}

footer {
  border-top: 3px solid #eae1d1;
  color: #666;
}

div.card {
  border: 2px solid #eae1d1;
  background: rgba(255, 255, 255, 0.6);
}

ul.list-group li {
  background: rgba(255, 255, 255, 0.6);
}

.mw-40 {
  max-width: 40% !important;
}
.text-small {
  font-size: 13px;
}
.minor-title {
  /* background: #bfb37c no-repeat center center; */
  background-image: url("../image/titbg (1).jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #eeeeee;
  filter: brightness(1.8);
  /* border: 1px solid rgb(207, 202, 176); */
  border-radius: 5px;
  font-size: 16px;
  transition: all .5s;
  line-height: 40px;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* .minor-title:hover {
  background: #aba06c;
  cursor: pointer;
} */
h5.card-title {
  /* background-color: #bfb37c; */
  background-image: url("../image/titbg (1).jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: brightness(1.5);
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  color: #d3ceba;
}
h4.card-title {
  /* background-color: #bfb37c; */
  background-image: url("../image/titbg (1).jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #d3ceba;
  height: 60px;
  line-height: 60px;
  filter: brightness(1.5);
  border-radius: 5px;
  margin: 0 auto;
  width: 400px;
}
div.card h6 {
  margin: 1em 0;
}
p.card-text {
  text-indent: 2em;
}
.border-right {
  border-right: 1px solid #EBE5C9;
}
.border-bottom {
  border-bottom: 1px solid #EBE5C9;
}

li.list-group-item:last-child {
  padding-bottom: 20px;
}

li.list-group-item {
  background: none !important;
}

/* h4, h5, p.minor-title {
  font-family: HongLeiBanShu;
  font-size: 22px;
} */